{% block content %}

<style>
	.main {
		max-width: 600px;
		margin: 0 auto;
	}
	ul {
		list-style: none;
	}
</style>

<div class="main">
	<h2><a href="{% url 'blogs:index' %}">Последние новости:</a></h2>
<hr>

<ul>
	{% for blog_post in blog_posts %}
	<li>
		<h3 style="display: inline-block; margin: 20px 10px 0 0;">{{ blog_post.title }}</h3><span>{{ blog_post.date_added|date:'H:i' }}</span>
		<p>{{ blog_post.text }}</p>
		<p><a href="{% url 'blogs:edit_post' blog_post.id %}">Редактировать новость</a></p>
	</li>
	{% empty %}
	<li>Новостей пока нет!</li>
	{% endfor %}
</ul>

<hr>
<p><a href="{% url 'blogs:new_post' %}">Добавить новость</a></p>

</div>
{% endblock content %}